body, div {
    margin: 0;
    padding: 0;
}
.box{
    float: left;
    width: 100%;
    height: 100%;
}
#touchBoxCt>div{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#touchBoxCt>div>div>img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}
.animated p{
    font-size: 1.2em;
    display: inline-block;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes slide{
    0%{opacity:0;-webkit-transform:translate3d(0,40px,0)}
    80%{opacity:.5}
    100%{opacity:1}
}
@-webkit-keyframes spin{
    0% {-webkit-transform:rotateZ(0)}
    100%{-webkit-transform:rotateZ(360deg)}
}

@-webkit-keyframes arrow-move{
    0%{-webkit-transform:translate3d(0,42px,0);opacity:0}
    60%{-webkit-transform:translate3d(0,12px,0);opacity:1}
    100%{-webkit-transform:translate3d(0,0,0);opacity:0}
}
@-webkit-keyframes appear{
    0%{opacity:0}
    100%{opacity:1}
}

.mask {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 101;
}

.mask img{
    width: 20%;
    margin-left: 40%;
    margin-top: 50%;
    -webkit-animation: spin 2.5s infinite;
}

.up {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    bottom: 2em;
    left: 50%;
    margin-left: -0.7rem;
    z-index: 100;
    -webkit-animation: arrow-move 1.5s infinite;
}

.slide-tips {
    position: absolute;
    width: 3.5rem;
    height: 10rem;
    margin-left: -1.75rem;
    left: 52%;
    bottom: 0rem;
    z-index: 100;
    overflow: hidden;
    -webkit-animation: slide 2.5s infinite;
}
.slide-tips img{
    position: relative;
    top: -2.8rem;
    width: 100%;
    height: 100%;
}

.up img{
    width: 100%;
    height: 100%;
}

/*animate*/
.thehide{
    display: none;
}
.transition {
    transition: all 2s;
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}